    <HTML>

   <BODY>
        <div class= "add">
       <form action="index.php?page=add" method="post">
Department:
    <select size='1' name='departments'>
	    <?php require "config/sql.php"; 
    $data = $conn->query("SELECT * FROM departments");
        foreach($data as $row) {
    print_r($row);
    echo "<option value='$row[dept_name]' >$row[dept_name]</option>";}?>
    </select> <br>

  First name:
  <input type="text" name="firstname">
  <br>
  Last name:
  <input type="text" name="lastname">
<br>
Gender:
<input TYPE="Checkbox" Name="Gender" Value ="Male">Male</input>
<input TYPE="Checkbox" Name= "Gender" Value ="Female ">Female</input>
<br>
  Birth Date:
  <input type="text" name="birth_date">
  <br>
  Hire date:
  <input type="text" name="hire_date">
<br>
  Salary :
  <input type="text" name="salary">
<br>
<input type="submit" value="Submit">
</form>
        </div>
  </BODY>
 </HTML>